* {
  // border: solid red 1px;
}

body {
  background: url("../images/clapperBoard.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row1 {
  margin-bottom: 1em;
}

.row2-2 {
  margin-bottom: 1em;
}

.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(211,211,211,0.9);
  border: solid black 1px;
}

.singleMovie {
  text-align: center;
  background-color: rgba(211,211,211,0.8);
  border: solid black 1px;
  border-radius: 1em;
  height: 32em;
}

.imgWrap {
  padding: 0;
  margin-right: 0;
}

.imgWrap img {
  padding: 0;
  margin-right: 0;
}

.imgWrap .close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.5;
    text-align: center;
    line-height: 10px;
    background-color: rgba(255,0,0,0.6);
    padding: 0.2em 0.2em 0.5em 0.5em;
    border-bottom-left-radius: 1em;
}

.imgWrap:hover .close {
    opacity: 1;
}

.noUi-handle {
  background: url("../images/happySliderStar.png") ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.noUi-horizontal .noUi-handle {
  width: 45px;
  height: 50px;
  left: -17px;
  top: -15px;
}

.noUi-target {
  background-color: gold;
}