{{#each movie}}
<div class="col-md-3">
  <div class="well well-sm singleMovie">
    <div class="row row2-1">
      <h3 class="col-md-12">{{Title}}</h3>
    </div>
    <div class="row row2-2">
      <div class="imgWrap col-xs-4 col-xs-offset-4">
        <span class="close mdi-action-highlight-remove"></span>
        <img src={{Poster}} alt="{{Title}} poster" class="img-responsive">
      </div>
      <div class="col-xs-4 emptySpace"></div>
    </div>
    <div class="row row2-3">
      <div class="buttonWrap col-md-6">
        <button class="btn btn-success">Add Movie</button>
        <button class="watchedButton btn btn-danger">Watched</button>
      </div>
      <div class="starRating col-md-6">STAR RATING</div>
    </div>
  </div>
</div>
{{/each}}