<!-- ==== NAVBAR ==== -->
  <div class="row row0">
    <div class="col-xs-12">
      <div class="navbar navbar-default">
          <div class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button id="submitForSearch" type="submit" class="btn btn-default">Submit</button>
          </div>
          <div class="navbar-right">
          </div>
      </div>
    </div>
  </div>
<!-- ==== /NAVBAR ==== -->

<!-- ==== BUTTON GROUP FILTERS ==== -->
<div class="row row1">
  <div class="col-lg-3 col-sm-offset-1">
    <div class="btn-group" role="group">
      <button id="watched" class="btn btn-warning" role="group">Watched</button>
      <button id="unwatched" class="btn btn-warning" role="group">Not Watch</button>
    </div>
  </div>
  <div class="col-lg-4">
      <div class="noUi-target" id="sliderInput"></div>
  </div>
</div>
<!-- ==== /BUTTON GROUP FILTERS ==== -->

<!-- ==== USER LIBRARY CONTENT ==== -->
<div id="displayMovies" class="row row2">
  {{#each movies}}
  <div class="col-md-3">
    <div class="well well-sm singleMovie">
      <div class="row row2-1">
        <h3 class="col-md-12">{{Title}}</h3>
      </div>
      <div class="row row2-2">
        <div class="imgWrap col-xs-4 col-xs-offset-4">
          <button type="button" class="close" aria-label="Close">&times;</button>
          <img src={{Poster}} alt="{{Title}} poster" class="img-responsive">
        </div>
        <div class="col-xs-4 emptySpace"></div>
      </div>
      <div class="row row2-3">
        <div class="buttonWrap col-md-12">
          <button id= "addRemoveMovieButton" class="btn btn-success">Add Movie</button>
          <button class="watchedButton btn btn-danger">Watched</button>
        </div>
      </div>
      <div class="row row2-4">
        <div class="starWrap col-md-12">
          <input type="number" class="starRating" data-stars=10 value={{rating}}>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<!-- ==== USER LIBRARY CONTENT ==== -->
