{{#each movieItem}}
  <div><h1>{{title}}</h1>
    {{!-- <div class="media-left">
      <a href="#">
        <img class="media-object"  style= "height: 150px; width: 150px;" src={{ poster }}>
      </a>
    </div> --}}
  </div>
{{/each}}
